@font-face {
  font-display: swap;
  font-style: normal;
  src: url("/fonts/InterBold.ttf");
  font-family: "Inter";
  font-weight: 700;
}
@font-face {
  font-display: swap;
  font-style: normal;
  src: url("/fonts/InterRegular.ttf");
  font-family: "Inter";
  font-weight: 400;
}
@font-face {
  font-display: swap;
  font-style: normal;
  src: url("/fonts/PublicSansSemiBold.ttf");
  font-family: "Public Sans";
  font-weight: 600;
}
@font-face {
  font-display: swap;
  font-style: normal;
  src: url("/fonts/PublicSansRegular.ttf");
  font-family: "Public Sans";
  font-weight: 400;
}
@font-face {
  font-display: swap;
  font-style: normal;
  src: url("/fonts/PublicSansBold.ttf");
  font-family: "Public Sans";
  font-weight: 700;
}
@font-face {
  font-display: swap;
  font-style: normal;
  src: url("/fonts/PublicSansMedium.ttf");
  font-family: "Public Sans";
  font-weight: 500;
}
@font-face {
  font-display: swap;
  font-style: normal;
  src: url("/fonts/PoppinsMedium.ttf");
  font-family: "Poppins";
  font-weight: 400;
}
@font-face {
  font-display: swap;
  font-style: normal;
  src: url("/fonts/PoppinsBold.ttf");
  font-family: "Poppins";
  font-weight: 700;
}
