@tailwind base;
@tailwind components;
@tailwind utilities;
/* 
@layer base {
  :root {
    --background_primary: #eff2f6;
    --black_900_4c: #0000004c;
    --black_900_7f: #0000007f;
    --text_neutral_dark: #2f313f66;    --text_primary: #000000;    --text_secondary: #979797;    --purple_300: #bb6bd9;    --red_400: #eb5757;    --light_blue_300: #56ccf2;    --primary_0: #0d0d0d;    --primary_1: #0d0d0db2;    --green_300: #6fcf97;    --green_700: #219653;    --indigo_900: #1c275a;    --gray_900: #252525;    --gray_900_7f: #1111117f;    --gray_500: #a3a3a3;    --gray_500_01: #909090;    --gray_800: #4f4f4f;    --gray_400: #c4c4c4;    --gray_5: #e0e0e0;    --deep_purple_a200: #7b61ff;    --gray_100: #f2f2f2;    --gray_300: #e3e4e8;    --colors_grey_grey_4: #e1e3eb;    --colors_white: #ffffff;    --deep_orange_300: #df9167;    --colors_grey_grey_1: #65666d;    --colors_grey_grey_2: #a8aabd;    
  }
} */

/* :root {
  font-family: system-ui, Avenir, Helvetica, Arial, sans-serif;
  line-height: 1.5;
  font-weight: 400;

  color-scheme: light dark;
  color: rgba(255, 255, 255, 0.87);
  background-color: #242424;

  font-synthesis: none;
  text-rendering: optimizeLegibility;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

a {
  font-weight: 500;
  color: #646cff;
  text-decoration: inherit;
}
a:hover {
  color: #535bf2;
}

body {
  margin: 0;
  display: flex;
  place-items: center;
  min-width: 320px;
  min-height: 100vh;
}

h1 {
  font-size: 3.2em;
  line-height: 1.1;
}

button {
  border-radius: 8px;
  border: 1px solid transparent;
  padding: 0.6em 1.2em;
  font-size: 1em;
  font-weight: 500;
  font-family: inherit;
  background-color: #1a1a1a;
  cursor: pointer;
  transition: border-color 0.25s;
}
button:hover {
  border-color: #646cff;
}
button:focus,
button:focus-visible {
  outline: 4px auto -webkit-focus-ring-color;
}

@media (prefers-color-scheme: light) {
  :root {
    color: #213547;
    background-color: #ffffff;
  }
  a:hover {
    color: #747bff;
  }
  button {
    background-color: #f9f9f9;
  }
} */
